@import "./toolbars.scss";

html {
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: whitesmoke;
  min-height: 100%;
}

.shadow-box {
  box-shadow: 0 0 5px $toolbars-shadow-color;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.work-container {
  position: relative;
  display: flex;
  font-size: small;
}

.viewport-container {
  position: relative;
  width: 100%;
  right: 0px;
  max-height: 500px;
  flex-direction: column;
  align-items: stretch;
  z-index: 0;
}

#canvas-container {
  display: block;
  position: relative;
  overflow: hidden;
}

#canvas {
  touch-action: none;
  cursor: none;
}

.detail-list-container {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.detail-list {
  display: grid;
  grid-template-columns: 1em repeat(4, minmax(4em, max-content)) 1em;
  align-items: center;
}

.detail-list-caption {
  text-align: center;
}

.help-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.help-section {
  display: block;
  position: absolute;
  z-index: 103;
  overflow: hidden;
  width: 80%;
  animation: help 0.5s 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.info-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

@keyframes help {
  from {
    height: 0px;
  }

  to {
    height: 50%;
  }
}

.modal-container {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(205, 222, 223, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.newproject-content {
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%);
  
  align-items: center;
  column-gap: 0.5em;
}

.newproject-content:nth-child(n+2){
  text-align: right;
}

.gridContent {
  display: grid;
  column-gap: 0.5em;
  -ms-grid-column-align: end;
  grid-template-columns: 1fr 2fr;
  justify-items: start;
}

.propertyContent {
  display: grid;
  column-gap: 0.5em;
  -ms-grid-column-align: end;
  grid-template-columns: fit-content(100%) 2fr;
  justify-items: start;
}