$toolbar-background-color : rgba(185, 202, 203, 0.95);
$toolbar-border : 3px ridge;
$toolbars-shadow-color : rgba(82, 112, 114, 0.555);

.toolbar{
    display: inline-block;
    position: relative;
    border: $toolbar-border;
    background-color: $toolbar-background-color;
    padding: 5px;
    -border-radius: 5px;
    z-index: 100;
  }
  
.toolbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    
  }
  
.toolbar-header-expandable{
    @extend .toolbar-header;
    cursor: pointer;
}

.toolbar-header-expandable:hover{
    background-color: gray;
    mix-blend-mode: soft-light;
  }
  
.toolbar-modal{
    display: inline-block;
    position: relative;
    border: $toolbar-border;
    background-color: $toolbar-background-color ;
    padding: 5px;
    -border-radius: 5px;
    z-index: 100;
  }
  
.toolbar-animated{
    width: 0px;
    transition: width 200ms linear;
    overflow: hidden;
  }

.toolbar-wide{
    display: block;
    position: relative;
    border: $toolbar-border;
    background-color: $toolbar-background-color;
    padding: 5px;
    -border-radius: 5px;
    z-index: 100;
  }

@mixin sideBar {
    position: absolute;
    width: auto;
    -display: flex;
    -flex-direction: row;
    -align-items: stretch;
  }
  
.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
    
@media (hover: hover) {
  .sidebar-button :hover{
    font-weight: bold;
    cursor: pointer;
  }
    }
    
.sidebar-button-caption{
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  
.left-sidebar{
    @include sideBar;
    left: 0px;
    
  }
.right-sidebar{
    @include sideBar;
    right: 0px;
  }
  
.left-sidebar .toolbar{
    box-shadow: 2px 2px 4px $toolbars-shadow-color;
  }

.right-sidebar .toolbar{
    box-shadow: -2px 2px 4px $toolbars-shadow-color;
  }
